    <div class="chat-create">
        <div class="user-box">
            <a href="#">Izu</a>
        </div>
        <div class="create-box">
            <a href="#">Create chatroom</a>
        </div>
    </div>
    
    <div class="room-info">
        <div class="room">
            <div class="room-name">
                <a href="#">techroom1</a>
            </div>
        </div>
        <div class="room">
            <div class="room-name">
                <a href="#">techroom2</a>
            </div>
        </div>
    </div>
